*{
    margin:0;
    padding:0;
    color:azure;
    border-color:darkgrey;
}
body{
    background-color: rgb(32, 32, 32);
}
#rubl {
    position: absolute;
}
#rubl {
    width: 100px;
    height: 100px;
}
#bg {
    position:fixed;
    z-index: -1;
    top:0;
    left:0; 
    width: 100%;
    margin:0;
}